<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.employee.boards.complaintBoard.mapper.IComplaintBoardMapper">

	<insert id="insert" parameterType="kr.or.ddit.vo.BoardVO">
		INSERT INTO board (
		board_no, emp_no, board_title, board_cn, board_reg_dt, board_mdfcn_dt,
		board_rdcnt, imprtnc_tag_yn, del_yn, file_group_no, board_ty, cvpl_ty,
		cvpl_sttus
		) VALUES (
		SEQ_BOARD.NEXTVAL, #{empNo}, #{boardTitle}, #{boardCn}, SYSDATE, SYSDATE, 0,
		#{imprtncTagYn}, 'N', #{fileGroupNo}, #{boardTy}, #{cvplTy},
		#{cvplSttus}
		)
	</insert>

	<select id="generateFileGroupNo" resultType="int">
		SELECT SEQ_FILE_GROUP.NEXTVAL FROM dual
	</select>

	<insert id="insertFile" parameterType="kr.or.ddit.vo.FilesVO">
		INSERT INTO files (
		file_no, file_group_no, original_nm, saved_nm, file_size, file_path,
		file_uploader,
		file_fancysize, file_mime, file_reg_dt, del_yn
		) VALUES (
		SEQ_FILE.NEXTVAL, #{fileGroupNo}, #{originalNm}, #{savedNm}, #{fileSize}, #{filePath},
		#{fileUploader},
		#{fileFancysize}, #{fileMime}, SYSDATE, 'N'
		)
	</insert>

	<resultMap id="boardDetailMap" type="kr.or.ddit.vo.BoardVO">
		<id property="boardNo" column="BOARD_NO" />
		<result property="empNo" column="EMP_NO" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardCn" column="BOARD_CN" />
		<result property="boardRegDt" column="BOARD_REG_DT" />
		<result property="boardMdfcnDt" column="BOARD_MDFCN_DT" />
		<result property="boardRdcnt" column="BOARD_RDCNT" />
		<result property="imprtncTagYn" column="IMPRTNC_TAG_YN" />
		<result property="delYn" column="DEL_YN" />
		<result property="fileGroupNo" column="FILE_GROUP_NO" />
		<result property="boardTy" column="BOARD_TY" />
		<result property="cvplTy" column="CVPL_TY" />
		<result property="cvplSttus" column="CVPL_STTUS" />
		<result property="empNm" column="EMP_NM" />

		<collection property="fileList"
			ofType="kr.or.ddit.vo.FilesVO">
			<id property="fileNo" column="FILE_NO" />
			<result property="fileGroupNo" column="FILE_GROUP_NO" />
			<result property="originalNm" column="ORIGINAL_NM" />
			<result property="savedNm" column="SAVED_NM" />
			<result property="filePath" column="FILE_PATH" />
			<result property="fileSize" column="FILE_SIZE" />
			<result property="fileFancysize" column="FILE_FANCYSIZE" />
			<result property="fileMime" column="FILE_MIME" />
			<result property="fileRegDt" column="FILE_REG_DT" />
			<result property="delYn" column="DEL_YN_FILE" />
			<result property="fileUploader" column="FILE_UPLOADER" />
		</collection>
	</resultMap>
	
	<select id="selectComplaintBoard" parameterType="int" resultMap="boardDetailMap">
		SELECT
		b.board_no, b.emp_no, b.board_title, b.board_cn, b.board_reg_dt,
		b.board_mdfcn_dt,
		b.board_rdcnt, b.imprtnc_tag_yn, b.del_yn, b.file_group_no, b.board_ty, b.cvpl_ty,
		b.cvpl_sttus,
		e.emp_nm, f.file_no, f.original_nm, f.saved_nm, f.file_path, f.file_size,
		f.file_fancysize, f.file_mime, f.file_reg_dt, f.del_yn as del_yn_file,
		f.file_uploader
		FROM board b
		LEFT OUTER JOIN (SELECT * FROM files WHERE del_yn = 'N') f
		ON b.file_group_no = f.file_group_no
		LEFT OUTER JOIN emp e ON b.emp_no = e.emp_no

		WHERE b.board_no = #{boNo} 
		AND b.del_yn = 'N'
		ORDER BY f.file_no ASC
	</select>
	
	<select id="selectFileBySavedNm" parameterType="string" resultType="kr.or.ddit.vo.FilesVO">
		SELECT
		file_no, file_group_no, original_nm, saved_nm, file_path, file_size,
		file_fancysize, file_mime, file_reg_dt, del_yn, file_uploader
		FROM files
		WHERE saved_nm = #{savedNm} AND del_yn = 'N'
	</select>
	
	<update id="boardrdCnt" parameterType="int">
		update board
		set
		board_rdCnt = board_rdCnt + 1
		where board_no = #{boNo}
	</update>
	
	<select id="selectComplaintBoardCount" parameterType="kr.or.ddit.vo.PaginationInfoVO" resultType="int">
	SELECT COUNT(b.board_no)
    FROM board b
    INNER JOIN emp e ON b.emp_no = e.emp_no
    INNER JOIN cmmn_cd st on st.cmmn_cd_id = b.cvpl_ty
	INNER JOIN cmmn_cd ty on ty.cmmn_cd_id = b.cvpl_sttus
    WHERE b.del_yn = 'N'
    AND b.board_ty = '02003'
		<include refid="searchBoard"></include>
	</select>
	
	<select id="selectComplaintBoardList"
		parameterType="kr.or.ddit.vo.PaginationInfoVO"
		resultMap="boardDetailMap">
		SELECT a.*
		FROM (
		SELECT
		ROW_NUMBER() OVER (
		ORDER BY
		b.board_mdfcn_dt DESC  ) rnum,
		b.board_no, b.emp_no, b.board_title, b.board_cn, b.board_reg_dt,
		b.board_mdfcn_dt,
		b.board_rdcnt, b.imprtnc_tag_yn, b.del_yn, b.file_group_no,
		b.board_ty, 
        st.cmmn_cd_nm as cvpl_ty,
        ty.cmmn_cd_nm as cvpl_sttus,
		e.emp_nm
		FROM board b
	    INNER JOIN emp e ON b.emp_no = e.emp_no
	    INNER JOIN cmmn_cd st on st.cmmn_cd_id = b.cvpl_ty
		INNER JOIN cmmn_cd ty on ty.cmmn_cd_id = b.cvpl_sttus
		WHERE b.del_yn = 'N'
		AND b.board_ty = '02003'
		<include refid="searchBoard"></include>
		) a
        <![CDATA[
        WHERE a.rnum BETWEEN #{startRow} AND #{endRow}
        ]]>
	</select>
	
	<sql id="searchBoard">
		<if
			test="searchType != null and searchType != '' and searchWord != null and searchWord != ''">
			<choose>
				<when test="searchType eq 'title'">
					AND b.board_title LIKE '%' || #{searchWord} || '%'
				</when>
				<when test="searchType eq 'writer'">
					AND e.emp_nm LIKE '%' || #{searchWord} || '%'
				</when>
				<when test="searchType eq 'content'">
					AND b.board_cn LIKE '%' || #{searchWord} || '%'
				</when>
				<when test="searchType eq 'cvplTy'">
					AND st.cmmn_cd_nm LIKE '%' || #{searchWord} || '%'
				</when>
				<when test="searchType eq 'cvplSttus'">
					AND ty.cmmn_cd_nm LIKE '%' || #{searchWord} || '%'
				</when>
			</choose>
		</if>
	</sql>
	
	<update id="complaintboardupdate" parameterType="kr.or.ddit.vo.BoardVO">
        UPDATE board
        SET
            board_title = #{boardTitle},
            board_cn = #{boardCn},
            board_mdfcn_dt = SYSDATE,
            <if test="cvplSttus != null and cvplSttus != ''">
                cvpl_sttus = #{cvplSttus},
            </if>
            <if test="fileGroupNo != 0">
                file_group_no = #{fileGroupNo},
            </if>
            cvpl_ty = #{cvplTy}
        WHERE board_no = #{boardNo}
    </update>
	<update id="updateFileDelYn" parameterType="int">
		UPDATE files
		SET DEL_YN = 'Y'
		WHERE file_no = #{fileNo}
	</update>
	
	<update id="deleteBoard" parameterType="int">
		UPDATE board
		SET
		del_yn = 'Y'
		WHERE board_no = #{boardNo}
	</update>
	
	<update id="deleteFileGroupNo" parameterType="int">
		UPDATE files
		SET
			del_yn = 'Y'
		WHERE 
			file_group_no = #{fileGroupNo}
	</update>
	
</mapper>
